# Data & pipeline
pandas==2.3.3
numpy==2.4.6
scikit-learn==1.9.0
scipy==1.17.1
sentence-transformers==5.7.0
torch
sdv==1.38.0
recordlinkage==0.16

# Visualization
matplotlib==3.11.1
plotly==6.9.0

# Service layer
fastapi==0.139.0
uvicorn==0.51.0
python-multipart==0.0.32
pydantic==2.13.4

# Frontend
streamlit==1.59.1

# Experiment tracking
mlflow==3.14.0

# DB
SQLAlchemy==2.0.51

# Utils
python-dotenv==1.2.2
requests==2.34.2